
function populateTask () {
  $(".append-section-to-do").html("");
  var id = $('#some_id').data('post_id');
  var displayTask = "";
  $.ajax({
    url: '/posts/' + id + "/tasks.json",
    success: function(data) {
      $(".to-do").find("section").html()
      $.each(data, function(key, value){
        displayTask += '<section class="ui-state-default">' + value.content + '</section>';
      });
      $(".append-section-to-do").append(displayTask);
    }
  });
}

function bindPostTask () {
  $(".to-do-input").keyup(function(e){
    // on enter post input value to database
    var message = $(".to-do-input").val();
    if(e.which == 13) {
      var id = $('#some_id').data('post_id');
      myData = {
      content: $(".to-do-input").val()
     }
     $.ajax({
       type: "POST",
       url: "/posts/" + id + "/tasks.json",
       data: {task: myData}
     }).done(function(response){
       $(".append-section-to-do").append(`<section class="ui-state-default">${message} </section>`)
    })
     // clears input field after enter
     $(".to-do-input").val('');
    }
  });

  $(".doing-input").keyup(function(e){
    // on enter post input value to database
    var message = $(".doing-input").val();
    if(e.which == 13) {
      var id = $('#some_id').data('post_id');
      myData = {
      content: $(".doing-input").val()
     }
     $.ajax({
       type: "POST",
       url: "/posts/" + id + "/tasks.json",
       data: {task: myData}
     }).done(function(response){
       $(".append-section-doing").append(`<section class="ui-state-default">${message} </section>`)
    })
     // clears input field after enter
     $(".doing-input").val('');
    }
  });

  $(".done-input").keyup(function(e){
    // on enter post input value to database
    var message = $(".done-input").val();
    if(e.which == 13) {
      var id = $('#some_id').data('post_id');
      myData = {
      content: $(".done-input").val()
     }
     $.ajax({
       type: "POST",
       url: "/posts/" + id + "/tasks.json",
       data: {task: myData}
     }).done(function(response){
       $(".append-section-done").append(`<section class="ui-state-default">${message} </section>`)
    })
     // clears input field after enter
     $(".done-input").val('');
    }
  });
}

$( function() {
  $( "#sortable1, #sortable2, #sortable3" ).sortable({
    connectWith: ".connectedSortable"
  }).disableSelection();
} );

$(document).on('turbolinks:load', function(){
  bindPostTask();
  populateTask();
});
