
function populateTask () {
  $(".append-section-to-do").html("");
  var id = $('#some_id').data('post_id');
  var displayTask = "";
  $.ajax({
    url: '/posts/' + id + "/tasks.json",
    success: function(data) {
      $(".to-do").find("section").html()
      $.each(data, function(key, value){
        displayTask += '<section class=task draggable="true" ondragstart="drag(event)" >' + value.content + '</section>';
      });
      $(".append-section-to-do").append(displayTask);
    }
  });
}

function bindPostTask () {
  $(".to-do-input").keyup(function(e){
    // on enter post input value to database
    var message = $(".to-do-input").val();
    if(e.which == 13) {
      var id = $('#some_id').data('post_id');
      myData = {
      content: $(".to-do-input").val()
     }
     $.ajax({
       type: "POST",
       url: "/posts/" + id + "/tasks.json",
       data: {task: myData}
     }).done(function(response){
       $(".append-section-to-do").append(`<section class=task draggable="true" ondragstart="drag(event)">${message} </section>`)
    })
     // clears input field after enter
     $(".to-do-input").val('');
    }
  });

  $(".doing-input").keyup(function(e){
    // on enter post input value to database
    var message = $(".doing-input").val();
    if(e.which == 13) {
      var id = $('#some_id').data('post_id');
      myData = {
      content: $(".doing-input").val()
     }
     $.ajax({
       type: "POST",
       url: "/posts/" + id + "/tasks.json",
       data: {task: myData}
     }).done(function(response){
       $(".append-section-doing").append(`<section class=task draggable="true" ondragstart="drag(event)">${message} </section>`)
    })
     // clears input field after enter
     $(".doing-input").val('');
    }
  });

  $(".done-input").keyup(function(e){
    // on enter post input value to database
    var message = $(".done-input").val();
    if(e.which == 13) {
      var id = $('#some_id').data('post_id');
      myData = {
      content: $(".done-input").val()
     }
     $.ajax({
       type: "POST",
       url: "/posts/" + id + "/tasks.json",
       data: {task: myData}
     }).done(function(response){
       $(".append-section-done").append(`<section class=task draggable="true" ondragstart="drag(event)">${message} </section>`)
    })
     // clears input field after enter
     $(".done-input").val('');
    }
  });
}

function allowDrop(ev) {
    ev.preventDefault();
}

function drag(ev) {
    ev.dataTransfer.setData("text", ev.target.id);

}

function drop(ev) {
    ev.preventDefault();
    var data = ev.dataTransfer.getData("text");
    ev.target.appendChild(document.getElementById(data));
}

$(document).on('turbolinks:load', function(){
  bindPostTask();
  populateTask();
});
