<main class="container">
    <%= link_to "Go back", posts_path, class: "btn btn-primary" %>
    <header class="container">
        <h1 class="show-page-header"><%= @post.title %></h1>
        <hr/>
    </header>
    <section class="col-xs-4 to-do">
        <h2>To do</h2>
        <input class="form-control to-do-input" placeholder="What haven't you done?">
            <element id="some_id" data-post_id="<%= @post.id %>"></element>
        </input>
        <br/>
        <section class="append-section-to-do connectedSortable" id="sortable1"></section>
    </section>

    <section class="col-xs-4 doing">
        <h2>Doing</h2>
        <input class="form-control doing-input " placeholder="What are you doing?"></input>
        <br/>
        <section class="append-section-doing connectedSortable" id="sortable2"></section>
    </section>

    <section class="col-xs-4 done">
        <h2>Done</h2>
        <input class="form-control done-input" placeholder="What have you done?"></input>
        <br/>
        <section class="append-section-done connectedSortable" id="sortable3"></section>

    </section>
</section>
</main>
