<main class="container">
  <%= link_to "Go back", posts_path, class: "btn btn-primary" %>
  <header class="container">
    <h1><%= @post.title %></h1>
  </header>
  <section class="col-xs-4 to-do">
  <h2>To do</h2>
    <section class="container task-to-do">

    </section>
  </section>

  <section class="col-xs-4 doing">
    <h2>Doing</h2>
    <section class="container task-doing">

    </section>
  </section>

  <section class="col-xs-4 done">
    <h2>Done</h2>
    <section class="container task-done">

    </section>
  </section>
</main>
