.show-page-header {
  text-align: center;
}

.to-do, .doing, .done {
  text-align: center;
}

.ui-state-default {
  background: none !important;
  border: 2px solid black;
  border-radius: 5px;
  width: 100%;
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#sortable1, #sortable2, #sortable3 {
  height: 300px;
}

.delete {
  color: red;
  font-size: 15px;
  margin-right: 15px;
  margin-top: 15px;
  float:right;
}
